.favorite {
    .bestphotos {

        &_container {
            background-color: #ff9c9c;
            height: 600px;
            box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.15);
        }
    }

    &_container {
        display: flex;
        width: 1300px;
        margin: auto;
    }
}