.mypage{
    display: flex;
    flex-direction: row;
    &_left{
        width: 310px;
        height: 1000px;
        border: 1px solid black;
        box-sizing: border-box;
    }

    &_center{
        width: 1300px;
        height: 1000px;
        border: 1px solid black;
        box-sizing: border-box;
    }
}