.gallery {
  width: 310px;
  height: 490px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #f66;
  position: relative;
  img {
    width: 310px;
    height: 400px;
    border-radius: 10px;
  }
  .upper {
    display: flex;
    flex-direction: row;
  }

  .userinfo{
    margin-bottom: 10px;
    .dots {
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
      .heart {
        position: absolute;
        right: 40px;
        bottom: 0px;
      }
  }
}
