.feed-detail-modal {
  z-index: 1000;

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    border-style: none;
    width: 1300px;
    max-height: 90vh;
    border-radius: 20px;
    background: #f66;
    display: flex;
    position: absolute;
    flex-direction: row;
    padding: 0;
    top: 120px;

    .close-button {
      position: absolute;
      color: #f66;
      top: -110px;
      right: -10px;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      z-index: 1010;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .feed-detail-left {
      flex: 1;
      padding: 10px;
      color: #fff;
      background-color: #f66;
      border-radius: 8px 0 0 8px;
      overflow-y: auto;

      .feed-icons {
        width: min-content;
        display: flex;
        align-items: center;
        margin-left: 200px;

        .heart-button {
          width: 40px;
          height: 40px;
        }

        .dots-button {
          width: 40px;
          height: 40px;
          margin-left: 15px;
        }
      }

      .feed-header {
        display: flex;
        align-items: center;

        .profile-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          border-width: 3px;
          stroke: #fff;
          object-fit: cover;
          flex-shrink: 0;
        }

        .profile-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .nickname {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .date {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .feed-body {
        margin-top: 10px;

        .slider-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          .image-slider {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            width: 326px;
            height: 324px;
            flex-shrink: 0;

            img {
              border-radius: 20px;
              border: 8px solid #fff;
              background-color: #fff;
              box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
              width: 100%;
              height: 100%;
              object-fit: cover;
              user-select: none;
            }

            .prev-button,
            .next-button {
              position: absolute;
              background: #fff;
              color: #f66;
              border: none;
              border-radius: 11px;
              z-index: 1;
              width: 60px;
              height: 60px;
              flex-shrink: 0;
              cursor: pointer;
              user-select: none;
            }

            .prev-button {
              left: -67px;
            }

            .next-button {
              right: -67px;
            }

            .image-counter {
              position: absolute;
              top: 15px;
              right: 15px;
              color: #f66;
              background-color: rgba(255, 255, 255, 0.5);
              padding: 10px;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              border-radius: 8px;
              z-index: 2;
              user-select: none;
            }
          }
        }

        .feed-content-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 20px;
          padding-right: 20px;
          max-height: 100%;
          overflow-y: auto;

          .feed-content {
            margin-top: 10px;
            font-size: 32px;
          }

          .feed-tags {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;

            .tag {
              display: inline-block;
              font-size: 14px;
              color: #fff;
              padding: 5px 5px;
              border-radius: 15px;
              margin-right: 5px; /* 태그 간격 추가 */
            }
          }
        }
      }
    }

    .feed-detail-right {
      width: 500px; /* 댓글 섹션의 고정 너비 */
      height: auto;
      flex-shrink: 0;
      padding: 0;
      border-radius: 20px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
    }

    .comments {
      flex: 1;
      overflow-y: auto;
      margin-top: 10px;

      .comment {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border: 3px solid #f66;
        background: #fff;

        .comment-header {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
        }

        .comment-nickname {
          font-weight: bold;
        }

        .comment-date {
          margin-left: auto;
          color: gray;
        }
      }
    }

    .comment-input {
      display: flex;

      input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
      }

      button {
        padding: 10px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
